[submodule "Trusted Datasets/Python-Video-Annotater"]
	path = Trusted Datasets/Python-Video-Annotater
	url = https://github.com/angadsinghsandhu/Python-Video-Annotater.git

[submodule "Trusted Datasets/MLLM"]
	path = Trusted Datasets/MLLM
	url = https://github.com/angadsinghsandhu/MLLM.git

[submodule "Topic Modeling Trends/trends-demo"]
	path = Topic Modeling Trends/trends-demo
	url = https://github.com/angadsinghsandhu/trends-demo.git

[submodule "Trusted Datasets/nikhil/FAQt-Score"]
	path = Trusted Datasets/nikhil/FAQt-Score
	url = https://github.com/absolute-nil/FAQt-Score.git

[submodule "Trusted Datasets/nikhil/Surgery-Copilot"]
	path = Trusted Datasets/nikhil/Surgery-Copilot
	url = https://github.com/absolute-nil/Surgery-Copilot.git

# [submodule "Trusted Datasets/mllm/code/LLaVA"]
#     path = Trusted Datasets/mllm/code/LLaVA
#     url = https://github.com/haotian-liu/LLaVA.git

[submodule "Trusted Datasets/surgery-copilot"]
	path = Trusted Datasets/surgery-copilot
	url = https://github.com/JHU-WORK/surgery-copilot.git
